
* {
border: none;
font-weight: medium;
 line-height: 1.5em;
 word-spacing: 0.25em;
   text-decoration: none;
    width: 100%;
      font-family: "Papyrus", "Copperplate", fantasy;
      margin: 0;
}




header > h1 {

margin: 0px 0px;
padding: 2px 5px;
font-weight: bold;
 font-stretch: extended;
  font-size: 48px;
/*  text-transform: uppercase; */
   word-spacing: 0.3em;
  letter-spacing: 3px;
 color: #c6538c;
  font-family: "Papyrus", "Copperplate", fantasy;
 background-image: url(../images/space2.jpg);
  opacity: 0.89;
  text-align: center;

}

 /*
nav {
   font-weight: bold;
}
ul {
 background-image: url(../images/space.jfif);
 background-repeat: repeat-x;
}
li {
  letter-spacing: 3px;
  display: inline;
  font-size: 70px;
  width: 100%;
   color: pink;
  font-family: "Papyrus", "Copperplate", fantasy;
   font-stretch: extended;
   font-weight: bold;
    background-image: url(../images/space.jfif);
    background-repeat: repeat-x;
}


.wrapper{
  width: 100%;
  margin: 0 auto;
}

.flex-container {
display: flex;
background-color: black;
flex-wrap: wrap;
flex-flow: row;
justify-content: center;
grid-column: 1/9;
}
/* menu base styles */

.box{
height: 100px;
width: 50% 50%;
flex-grow: 1;
}

nav{
background-color: black;
}

nav ul{
  list-style-type: none;
  padding: 0;
}

nav a{
  text-decoration: none;
  text-align: center;
  color: #f2d9e6;
  display: block;
  padding: 10px;
  opacity: 0.8;
  color: white;
  font-weight: bold;
  font-size: 30px;
}

nav a:hover{
  background-color: #555;
  text-decoration: underline;
  padding: 3px;
  position: relative;
  top: -4px;
}




nav ul{
  display: flex;
}


.grid {
  display: grid;
    grid-gap: 10px;
    background-color: black;
    opacity:0.8;
    padding: 5px;
    margin: 5px:
    grid-template-columns: auto auto;
     grid-template-rows: auto auto;
  /*     justify-content: space-evenly; */
    align-content: center;
}



ul {
width: 100%;
}

.grid-item {
  font-size: 30px;
  width: 100%;

}




.item1 {
  grid-column: 1 ;
  grid-row: 1 ;;
       border: dashed;
          opacity: 0.85;
          left: 0;
         width: 100%;
            height: 100%;
              background-color: hsl(0, 100%, 25%);
              color: black;


}

.item2 {
  grid-column: 2;
  grid-row: 1;
  padding-top: 120px;
  padding-left: 115px;
   width: 65%;
        width: 100%;
           height: 100%;



}

.item5 {
  grid-column: 2;
  grid-row: 2;
    background-color: hsl(0, 100%, 25%);
      border: dashed;
        font-size: 22px;
        width: 100%;
        height: 100%;

}

footer {
color: white;
font-size: 30px;
font-weight: bold;
  font-size: 18px;
   background-image: url(../images/space.jfif);
   background-repeat: repeat-x;
   text-align: center;
    word-spacing: 0.3em;
     letter-spacing: 5px;
    color: #c6538c;
}

.p2 {
color:  #ff99bb;
align: center;
 background-image: url(../images/space2.jpg);
  opacity: 0.89;
  text-align: center;
}

.about {
color: #f2d9e6;
font-size: 20px;
text-align: center;
font-weight: bold;
 letter-spacing: 10px;
 background-color: black;
}

nav {
 background-image: url(../images/space.jfif);
 background-repeat: repeat-x;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 40% 60%;
  grid-gap: 10px;
  padding: 10px;
   background-image: url(../images/space2.jpg);
    text-align: center;
    color:  #ff99bb;
}

.grid-container > div {
  background-color:  black;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  opacity: 0.89;
}

img {
width: 100%;
height: 100%;

}


